@charset "shift_jis";

/*------申し込みフォーム-------*/

.form {
	border-collapse: collapse;
	width:100%;
	border: #e3e3e3 1px solid;
	font-size: 13px;
	margin:0 auto;
}
.form th.t_top {
    border-top: #203a94 4px solid;
}
.form td.t_top {
	border-top: #b3b3b3 4px solid;
}
.form td.aqua{
	 border-top: #39C 4px solid;
	 border-left:#e3e3e3 1px solid;
	 border-bottom: #e3e3e3 1px dotted;
	 padding: 10px;
	 font-weight: normal;
}

.form th{
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 10px;
	font-weight: normal;
}

.form td {
	border-bottom: #e3e3e3 1px dotted;
	border-left:#e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
}
.form tr:hover {
    background: #E9E9E9;
    color: #666666;
}

.need{
	width:20px;
	font-size:9px;
	color:#ffffff;
	background-color:#900;
}
.need2{
	width:100%;
	margin:0 auto;
}
.red{
	color:#FF0000;
	}	

.t-center{
	text-align:center;
	}	
	
.m-b-30{
	margin-bottom:30px;
}		

.line{
border-bottom:1px dashed #cccccc;
margin:1em 0 20px 0;
}

dl#ssl dl,dt,dd {
	margin: 0;
	padding: 0;
	font-size:11px;
	background-color:#EAEAEA;
}

dl#ssl dl {
	width: 100%;
}

dl#ssl dt,dd {
	padding: 10px;
}

dl#ssl dt {
	clear: left;
	float: left;
	width: 30%;
}

dl#ssl dd {
	margin-left: 90px;
}


/*その他
---------------------------------------------------------------------------*/

.dash-ine{
	border-bottom:1px dashed #dddddd;
	margin-bottom:1em;
}






